/* colors */
/* mixins */
/* reset */
body, html, header, h1, ul {
  padding: 0;
  margin: 0; }

p, h1, h2, h3, a {
  font-family: Arial, sans-serif; }

/* layout */
html {
  background: url("background-stripes.gif"); }

body {
  width: 1000px;
  margin: auto;
  border: 1px solid #444444;
  background-color: white; }

header {
  background-color: #cecece;
  height: 80px;
  text-align: center;
  position: relative; }
  header img#logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px; }
  header h1 {
    font-familiy: Ubuntu;
    text-align: center;
    font-weight: normal;
    color: #444444;
    padding-top: 15px; }

#top-menu-container {
  background-color: #444444;
  height: 40px;
  border-bottom: 1px solid #666666;
  position: relative; }
  #top-menu-container ul#top-menu {
    list-style: none; }
    #top-menu-container ul#top-menu li {
      height: 37px;
      float: left;
      min-width: 100px;
      text-align: center;
      border-top: 3px solid transparent; }
      #top-menu-container ul#top-menu li a {
        display: block;
        margin-top: 5px;
        font-family: Ubuntu;
        font-size: 12pt;
        text-decoration: none;
        color: white; }
      #top-menu-container ul#top-menu li.selected {
        border-top: 3px solid red;
        font-weight: bold; }
      #top-menu-container ul#top-menu li:hover {
        background-color: #666666; }
  #top-menu-container .right {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 10; }

#sub-menu-container {
  background-color: #444444;
  background-image: url("submenu-bg.png");
  background-position: 0 bottom;
  background-repeat: no-repeat;
  height: 115px;
  border-top: 1px solid black; }
  #sub-menu-container ul#sub-menu {
    position: relative;
    list-style: none; }
    #sub-menu-container ul#sub-menu li {
      position: absolute;
      display: block; }
      #sub-menu-container ul#sub-menu li a {
        border-top: 3px solid transparent;
        font-family: Ubuntu;
        font-size: 12pt;
        text-decoration: none;
        color: white; }
        #sub-menu-container ul#sub-menu li a.selected {
          border-top: 3px solid red;
          font-weight: bold; }
      #sub-menu-container ul#sub-menu li.pos1 {
        left: 20px;
        top: 66px;
        transform: rotate(-15.5deg);
        -webkit-transform: rotate(-15.5deg);
        -moz-transform: rotate(-15.5deg);
        -o-transform: rotate(-15.5deg); }
      #sub-menu-container ul#sub-menu li.pos2 {
        left: 140px;
        top: 37px;
        transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        -moz-transform: rotate(-7deg);
        -o-transform: rotate(-7deg); }
      #sub-menu-container ul#sub-menu li.pos3 {
        left: 320px;
        top: 20px; }
      #sub-menu-container ul#sub-menu li.pos4 {
        left: 470px;
        top: 20px;
        transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg); }
      #sub-menu-container ul#sub-menu li.pos5 {
        left: 600px;
        top: 25px;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg); }
      #sub-menu-container ul#sub-menu li:hover {
        background-color: #666666; }

#content {
  margin-top: -40px; }
  #content .intro_title_box {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    border: 1px solid black;
    background-color: #ffe9c6;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #444444; }
  #content img.intro {
    margin: 0 auto;
    display: block; }
  #content h1 {
    font-familiy: Ubuntu;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    color: #444444; }
  #content .centered_content {
    width: 900px;
    margin: 0 auto; }
  #content .coding-example {
    padding-top: 20px;
    height: 270px;
    margin: 0 45px; }
    #content .coding-example pre {
      height: 250px;
      padding: 5px;
      overflow: auto;
      width: 420px;
      float: left;
      margin: 0 6px;
      border: 3px solid #666666; }
  #content p.important {
    border: 1px solid red;
    padding: 7px 7px 7px 55px;
    background: url(/res/important.png) no-repeat 3px center #ff8888;
    font-family: monospace;
    min-height: 40px; }
  #content #gp_iframe {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    border: 1px solid black; }

footer {
  background-image: url("footer-bg.png");
  background-color: #444444;
  height: 68px;
  position: relative; }
  footer p {
    position: absolute;
    left: 3px;
    bottom: 3px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Ubuntu;
    font-size: 8pt; }
